<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<h1>Hello Readers! Welcome to the FreeShelf OnLine Book Collection!</h1>

<h2> Would you like to Log In or Create an Account?</h2>

<h3><%= link_to 'Log In', 'sessions/new' %></h3>


<h3><%= link_to 'Create an Account',  'users/new' %></h3>


